@{
    ViewBag.Title = "About";
}
<h3 style="text-align:center">@ViewBag.Message</h3>

<p style="text-align:center">The whole purpose of this community is to allow users from around the globe
    to find one common ground to discuss ideas. <br />The crazier the idea, the better!</p>