@{
    ViewBag.Title = "About";
}
@*<h3 style="text-align:center">@ViewBag.Message</h3>*@

@*<p style="text-align:center">The whole purpose of this community is to allow users from around the globe
    to find one common ground to discuss ideas. <br />The crazier the idea, the better!</p>*@



@*start code here*@


<div class="jumbotron">
    <p style="text-align:center; font-size:350%">FreeSpace</p>
    <p class="lead" style="text-align:center">Welcome to FreeSpace, where thoughts turn into blogs</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 style="text-align:center">About Me</h2>
        <p style="font-size:large; text-align:justify">
            Hi, my name is Raghav Vashisht.     
             I am a graduate student at Rutgers University doing my Masters in Computer Science. I have more than 3 years
            of Software Development experience.
            <br />
            <br />I started web development about 7 months ago and have been learning at an exponential rate. If you have any questions
            or suggestions, please feel to reach out to me. 
        </p>
    </div>
    <div class="col-md-6">
        <h2 style="text-align:center">About FreeSpace Community</h2>
        <p style="font-size:large; text-align:justify">We are a group of free thinkers who need feee space to express our ideas.
        This is the place that allows you to do that, and exactly that.
        <br />
        <br />
        Come collaborate with your fellow free thinkers and write whatever's on your mind. The crazier the idea the better.
        <br />
        <br />
        P.S. This is a judge free zone, and we would like it to remain that ways </p>
    </div>
    
</div>