@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Following features have been implemented <br />
    An authentication system for users to register <br />
    Authenticated users can write articles/blogs <br />
    Anyone can see the blog <br />
    Authenticated users can comment on the posts</p>
