@{
    ViewBag.Title = "Contact";
}

<h1>@ViewBag.Message</h1>

<address style="font-size:larger">
    Rutgers University<br />
    New Brunswick, NJ 08901<br />
</address>

<address style="font-size:larger">
    <a href="mailto:raghav.vashisht@rutgers.edu"><strong>Support:</strong>   raghav.vashisht@rutgers.edu</a><br />
    <a href="https://www.facebook.com/raghav.vashisht91"><strong>Facebook:</strong>   Admin's Facebook page</a><br />
    <a href="https://www.facebook.com/bloggingApplication"><strong>Facebook:</strong>   App's Facebook page</a><br />
    <a href="https://github.com/RaghavVashisht"><strong>Github:</strong>   My Github profile with updated code of this app</a><br />
</address>