@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rutgers University<br />
    New Brunswick, NJ 08901<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">raghav.vashisht@rutgers.edu</a><br />
</address>