@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blogger's Paradise</h1>
    <p class="lead">Welcome to the best blogging application in the world!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            This is a test project built in asp.net
        </p>
    </div>
    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>The aim of this project is to familiarize myself in C# and asp.net</p>
        </div>
    <div class="col-md-4">
        <h2>The Web App</h2>
        <p>You can add blogs/posts using this web app.</p>
        <p>Comments can also be made, but, are not being displayed at their correct place</p>
    </div>
</div>